<template>
  <div class="home">
    <datagrid/>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Datagrid from "@/components/Datagrid.vue"; // @ is an alias to /src

export default Vue.extend({
  name: "home",
  components: {
    Datagrid
  }
});
</script>
